.question {
   margin-top: 3vh;
}

.submit_answers {
   margin-top: 4vh;
}

#timer {
   font-family: 'Orbitron', sans-serif;
   font-weight: bold;
   size: 40px;
   background-color: lightslategray;
   width: max-content;
   padding: 0px 5px;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   float: right;
}

body {
   /*background-image: url("../images/red-curtain-backdrop.jpg");*/
   background-image: url("../images/brick-background.jpg");
   background-size: 100%;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
 
.jumbotron {
   background-color: transparent;
}

h1 {
   color: white;
}

.quiz {
   color: #fff94c;
   width: 70%;
   margin-left: auto;
   margin-right: auto;
   font-weight: bold;
}

#results_page {
   color: white;
   margin: 20% 0 0 20%;
   background-color: red;
   width: max-content;
   opacity: .7;
   padding: 3%;
   border-radius: 25px;
}

.btn {
   margin-top: 4%;
}

.opening_page {
   margin-left: 20%
}

